<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD NEW</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style>
    body{
      margin: 50px;
      text-align: center;
    }
  </style>
</head>
<body>
<div>
    <h1>ADD NEW MUSIC</h1>
</div>
<div>
    <form th:action="@{/home/save}" method="post" th:object="${musicForm}"  novalidate enctype="multipart/form-data">
        <div>
            <input hidden type="text" th:field="*{id}" th:value="${musicForm.getId()}">
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" th:value="${musicForm}">
        </div>
        <div>
            <label>Single</label>
            <input type="text" th:field="*{single}">
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}">
        </div>
        <div>
            <label>Avatar</label>
            <input type="file" th:field="*{avatar}">
        </div>
        <div>
            <label>Music</label>
            <input type="file" th:field="*{url}">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
</body>
</html>